@charset "utf-8";
/* CSS Document */
@import 'common.css';

.list{ width:600px; height:auto; float:left}
.list .title{ width:100%; height:30px; line-height:30px; font-size:14px; border-bottom:2px solid #009900; font-weight:bolder; color:#009900}
.list .box{ width:100%; height:auto; margin:0px;}
.list .box .item{ width:150px; height:130px; float:left; margin:8px 0px 0px 0px; text-align:center}
.list .box .item img{ width:140px; height:105px;}
.list .box .item span{ height:25px; line-height:25px; text-align:center}

